<div class="container-xxl mt-3" style="">
    <h2>Mes artistes</h2>
    <div style="display: flex">
        <div style="margin-right: 20px">
            <table class="table table-striped" aria-label="Liste des artistes">
                <tbody>
                <tr *ngFor="let artist of artists" (click)="selectedArtist = artist" appHighlight>
                    <td>{{ artist | individu }}</td>
                </tr>
                </tbody>
            </table>
            <a routerLink="/artist/create">
                <button class="btn btn-primary pull-right mt-3">Créer un artiste</button>
            </a>
        </div>
        <div>
            <app-artist-detail *ngIf="selectedArtist" [artist]="selectedArtist" [editable]="true"></app-artist-detail>
        </div>
    </div>
</div>
